<div class="atm-menu">
  <div class="login-container">
    <div class="content-center">
      <form >
        <div class="form-group">
            <h2>{{movimiento.toUpperCase()}}</h2>
            <h3>START BANK ATM</h3>
            @if(mov?.card)
            {
              <p>Tarjeta: {{mov?.card }}</p>
            }
            <p>Sucursal: San Roque</p>
            @if(movimiento == 'Abono')
            {
              <p> {{movimiento}} de: {{mov?.abono}} </p>
              <p> Falta por pagar :  {{mov?.creditoFaltante}} </p>
            }
            @else {
            <p>{{movimiento}} de : {{mov?.new_balance|| mov?.debt|| mov}}$</p>
            }
            <p><i class="fas fa-clock timer-icon"></i> Cerrando sesión en <span>{{ tiempoRestante }}</span> segundos</p>
          <a href="/" class="salir">Salir</a>
          @if(mov?.card)
          {
          <a href="/cards" class="salir">Seguir realizando transacciones</a>
          }
        </div>
      </form>
    </div>
  </div>
</div>

