body {
  background-color: #6cc09c;
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

label {
  display: block;
  margin-bottom: 5px;
}
.content-center {
  text-align: center;
  margin-bottom: 20px;
}


.content-center h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.service-button {
  border: 2px solid #2f6648;
  border-radius: 5px;
  background-color: #9bd4af;
  color: #333;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 10px;
}

.service-button:last-child {
  margin-right: 0;
}

.service-button:hover {
  background-color: #7ec395;
  border-color: #1e3a29;
}

.service-button:active {
  background-color: #6aa984;
  border-color: #142d21;
}

.service-content {
  display: flex;
  align-items: center;
}

.service-image {
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.service-text {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #333;
}
p{

  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  color: #333;
}

a[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  background-color: #28a745;
}
a:hover {
  background-color: #0056b3;
}


.error-message {
  background-color: #ffe5e5;
  color: #c00;
  border: 1px solid #c00;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
