<div class="atm-menu">
  <div class="content-center">
    <h1> Servicios registrados</h1>
  </div>
  <div>
    <div>
      <ul >
        @for (service of services(); track service)
        {
          @if(service.debt > 0)
          {
            <li>
              <div class="button-container">
                  <button class="service-button" (click)="redireccionarClick(service.name)">
                    <div class="service-content">
                      <p>{{service.name}}</p>
                    </div>
                  </button>
              </div>
            </li>
          }
        }

        <div class="button-container">
          <li>
            <a routerLink="/cards" class="service-button">Regresar</a>
            <a routerLink="/" class="service-button">Cancelar operación</a>
          </li>
        </div>

      </ul>
    </div>
  </div>


</div>
