<div class="atm-menu">
  <section class="">
    <div>
      <select name="orden" id="">
        <option (click)="cambiarOrden('asc')">Ascendente</option>
        <option (click)="cambiarOrden('desc')">Descendente</option>
      </select>
    </div>
    <h2>Estado de Cuenta</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo </th>
            </tr>
        </thead>
        <tbody>
          @for(transaccion of transaccions(); track transaccion)
          {
            <tr>
              <td>{{transaccion.dateTransaction}}</td>
              <td> {{transaccion.typeTransaction}}</td>
            </tr>
          }
        </tbody>
    </table>
  </section>
  <div class="texto">
    <p> No se paga anualidad, por lo que sólo se paga por el interés por no pagar completo. CAT de 96.5%</p>
  </div>
  <div class="button-container">
    <li>
      <a routerLink="/cards" class="service-button">Menú anterior</a>
    </li>
  </div></div>
