<body>
  <div class="service-container">
    <div class="content-center">
      <h1>NETFLIX</h1>
    </div>

    @for (service of service(); track service)
    {
      <div class="service-card">
        <div class="service-content">
          <img src="{{ service.img }}" alt="Imagen del servicio">
          <div class="service-details">
            <h2></h2>
            <div class="contract-section">
              <h2>Detalles del Contrato</h2>
              <div class="contract-details">
                <p><strong>ID de Contrato:</strong> ABC123</p>
                <p><strong>Deuda:</strong> $500</p>
                <p><strong>Plan:</strong> Plan Básico</p>
              </div>
              <div class="button-container">
                <button class="pay-button">Pagar Deuda</button>
                <button class="cancel-button">Cancelar Contrato</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    }

  </div>
</body>

